* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica;
}

.wrap {
    margin: auto;
    max-width: 500px;
}

h1 {
    font-family: 'Irish Grover', cursive;
    font-size: 48px;
    text-align: center;
    line-height: 52px;
}


ul {
    font-family: 'La Belle Aurore';
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    font-size: 24px;
    list-style-type: none;
}

ul li:hover {
    font-weight: bold;
}

ul li.checked {
    color: green;
    text-decoration: line-through;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    color: red;
}

.header {
    background-color: #fff;
    color: #000;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    margin: 0;
    border: none;
    float: left;
    font-size: 16px;
    padding: 10px;
    border-bottom: 2px solid #f48a00; 
}

input:focus {
    outline: none;
}

#todo-input {
    width: 45%;
}

#deadline-input {
    width: 30%;    
}

.add-btn {
    padding: 10px;
    width: 25%;
    background-color: #f48a00;
    color: #fff;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #f48a00; 
}

.add-btn:hover {
    font-weight: bold;
}

.today {
    width: 45%;
}

.clear-btn {
    width: 25%;
    cursor: pointer;
    text-decoration: underline;
}

.clear-btn:hover {
    font-weight: bold;
}

.actions {
    font-size: 22px;
    font-family: 'La Belle Aurore';
    color: #f48a00; 
    padding-bottom: 20px;
}

.container {
    width: 30%;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #f48a00;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #fff;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #f48a00;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
